<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a asp-controller="Home" asp-action="Index">ComputerHardware<span>Store</span></a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a asp-controller="ShoppingCart" asp-action="Index">Корзина</a></li>
                            @if (User.IsInRole("admin"))
                            {
                                <li><a asp-controller="Product" asp-action="AddProduct">Добавить товар</a></li>
                                <li><a asp-controller="Order" asp-action="Index">Просмотреть заказы</a></li>
                            }
                            <li style="position: absolute; right: 20%">
                                <p style="padding: 0px; display: inline-block">@User.Identity.Name</p>
                                <a style="padding: 0px; display: inline-block">
                                    <form method="post" asp-controller="Account" asp-action="Logout">
                                        <input style="padding: 20px 10px" type="submit" value="Выход" />
                                    </form>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li><a asp-controller="Account" asp-action="Login">Вход</a></li>
                            <li><a asp-controller="Account" asp-action="Register">Регистрация</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->


    @RenderBody()

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2023 BNTU. Coded with<i class="fa fa-heart"></i> by <a href="#" target="_blank">Milkevich PAvel</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End footer bottom area -->
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- jQuery sticky menu -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="~/js/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="~/js/main.js"></script>
</body>
</html>
